body {
  background-image: linear-gradient(-200deg, rgba(255, 25, 25, 1), rgba(150, 50, 50, 1));
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 125px;
  padding: 100px;
}

.card-container {
  width: 150px;
  height: 150px;
  position: relative;
  transition: transform 200ms ease-in-out,
              opacity 200ms ease-in-out;
  opacity: 0.8;
}
.card-container:hover {
  transform: scale(1.1);
  opacity: 1;
}

.card-content {
  background-color: lightgreen;
  transition: transform 450ms ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition-delay: 450ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content>p {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-wrap: anywhere;
}

.card-container[data-open="true"]>.card-content {
  transform: scale(1.4);
}

.card-cover {
  position: absolute;
  background-color: rgb(0, 175, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: right;
  transform: rotateY(0);
  transition: transform 450ms ease-in-out;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card-cover>h1 {
  backface-visibility: hidden;
}

.card-container[data-open="true"]>.card-cover {
  transform: rotateY(130deg);
}
